body {
    background-color: rgb(240, 140, 50);
    font-family: 'Oswald', sans-serif;
}

.content-block-one {
    padding: 30px;
    margin-bottom: 0px;
    color: inherit;
}

.content-block-one h1,
.content-block-one .h1 {
    color: inherit;
}

.content-block-one p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}

.content-block-one>hr {
    border-top-color: #d5d5d5;
}

.container .content-block-one {
    border-radius: 6px;
}

.content-block-one .container {
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .content-block-one {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .container .content-block-one {
        padding-right: 60px;
        padding-left: 60px;
    }
    .content-block-one h1,
    .content-block-one .h1 {
        font-size: 63px;
    }
}

.page-break {
    width: 50%;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
}

.galleryRow {
    margin-left: 0px;
    margin-right: 0px;
}

#myCarousel {
    margin-bottom: 0px;
}

.phone-number {
    text-align: left;
    color: #fff;
}

.phone-number:hover {
    text-decoration: none;
    color: #fff;
}

.topbar {
    padding-top: 5px;
    height: 30px;
    background-color: #000;
}

#topaddy {
    float: right;
    color: #fff;
    padding-right: 10px;
}

#main-logo {
    margin-right: 20px;
    float: right;
}

.content-space-three {
    padding: 0px;
    margin-bottom: 0px;
    color: inherit;
    background: url(../assets/photos/tina/cutShopC.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
}

.space-content {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .3);
    padding-top: 10px;
    padding-bottom: 10px;
}

.space-content-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-space-four {
    padding: 0px;
    margin-bottom: 0px;
    color: inherit;
    background: url(../assets/photos/tina/toolsB.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
}

.addyright {
    text-align: right;
}

.img-circle-padding {
    margin-top: 10px;
    margin-bottom: 10px;
}

.copy {
    padding-top: 5px;
    text-align: center;
    color: #fff;
}

.gmaps {
    width: 100%;
}

.ken-quote {
    margin-top: 15px;
}

#quote-at {
    color: #5a5a5a;
}

#topBookButton {
    color: #fff;
    border-color: #fff;
    background: none;
}

svg {
    margin: 0 auto;
    display: block;
}

.soic {
    color: #fff;
    fill: #fff;
}

@media only screen and (min-width:768px) {
    .soic:hover {
        color: #eee;
        fill: #eee;
        -webkit-transform: scale(1.25);
        transform: scale(1.25);
        -webkit-transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
        transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
        transition: background-color 0.5s, transform 0.5s ease-out;
        transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
    }
}

.icons {
    list-style: none;
}

.icons>li {
    padding-left: 10px;
    padding-top: 0px;
    position: relative;
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
}

#followCallOut {
    padding-left: 4px;
    color: #fff;
}